# Liberary Importing

In [1]:
from sqlalchemy import create_engine
from sqlalchemy import URL
from sqlalchemy import text

from urllib.parse import quote_plus

import pandas as pd 
import numpy as np

from datetime import datetime

# League Start Matter

In [172]:
import pandas as pd

data = {'League': [2, 3, 4, 5, 6],
        1: ['08/08/2015', '21/08/2015', '22/08/2015', '14/08/2015', '07/08/2015'],
        2: ['13/08/2016', '19/08/2016', '20/08/2016', '26/08/2016', '12/08/2016'],
        3: ['11/08/2017', '18/08/2017', '19/08/2017', '18/08/2017', '04/08/2017'],
        4: ['10/08/2018', '17/08/2018', '18/08/2018', '24/08/2018', '10/08/2018'],
        5: ['12/09/2020', '12/08/2020', '19/09/2020', '18/09/2020', '21/08/2020'],
        6: ['09/08/2019', '16/08/2019', '24/08/2019', '16/08/2019', '09/08/2019'],
        7: ['13/08/2021', '13/08/2021', '21/08/2021', '13/08/2021', '06/08/2021']}

# convert the values in the cells to date type
for key in data.keys():
    if key != 'League':
        data[key] = pd.to_datetime(data[key], format='%d/%m/%Y')

#columns = league_id and rows = season_id
df_league_start = pd.DataFrame(data)
df_league_start.to_csv('League_start_time', index=False)
df_league_start

,League,1,2,3,4,5,6,7
0,2,2015-08-08,2016-08-13,2017-08-11,2018-08-10,2020-09-12,2019-08-09,2021-08-13
1,3,2015-08-21,2016-08-19,2017-08-18,2018-08-17,2020-08-12,2019-08-16,2021-08-13
2,4,2015-08-22,2016-08-20,2017-08-19,2018-08-18,2020-09-19,2019-08-24,2021-08-21
3,5,2015-08-14,2016-08-26,2017-08-18,2018-08-24,2020-09-18,2019-08-16,2021-08-13
4,6,2015-08-07,2016-08-12,2017-08-04,2018-08-10,2020-08-21,2019-08-09,2021-08-06

## Age Matter

In [138]:
np.full(np.array([0]*len(df_league_start.iloc[2, 1:])).shape, fill_value=df_league_start.iloc[2, 2]) - np.array(df_league_start.iloc[2, 1:])

array([Timedelta('364 days 00:00:00'), Timedelta('0 days 00:00:00'),
       Timedelta('-364 days +00:00:00'), Timedelta('-728 days +00:00:00'),
       Timedelta('-1491 days +00:00:00'),
       Timedelta('-1099 days +00:00:00'),
       Timedelta('-1827 days +00:00:00')], dtype=object)

In [173]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="NewPassword",
    host="localhost",
)

engine = create_engine(url_object)

# Define the SQL query as a string
Age_query = text("""select distinct pa.player_id, l.league_id, m.season_id, date_of_birth
from players
         join player_appearances pa on players.player_id = pa.player_id
         join matches m on m.match_id = pa.match_id
         join teams t on pa.team_id = t.team_id
         join leagues l on t.league_id = l.league_id;""")

with engine.connect() as conn:
    conn.execute(text('USE transfermarkt;'))
    result = conn.execute(Age_query)
    df_ages = pd.read_sql_query(Age_query, conn)
df_ages

       player_id  league_id  season_id  date_of_birth
0          82442          1       2015      528409800
1          73482          1       2015      601504200
2         167850          1       2015      761085000
3          33873          1       2015      551133000
4          65278          1       2015      554416200
...          ...        ...        ...            ...
15270     401920          4       2019      935613000
15271      56815          5       2015      519683400
15272     228434          5       2015      721254600
15273      66415          5       2016      569363400
15274     395693          5       2017      899152200

[15275 rows x 4 columns]

In [176]:
 df_league_start[season_iterator, league_iterator]

KeyError: (0, 0)

In [181]:
for season_iterator in range(1, 8):
  df_ages[f'age_{season_iterator}']

ValueError: Length of values (0) does not match length of index (15275)

In [183]:
for i in range(len(df_ages)):
  player_iterator = df_ages.iloc[i]
  for season_iterator in range(1, 8):
    for league_iterator in range(1, 7):
        if player_iterator['league_id'] == league_iterator:
          end_life = df_league_start.iloc[season_iterator, league_iterator]
          print(end_life_array)
          # end_life_array = np.full(np.array([0]*len(player_iterator['date_of_birth'])).shape, fill_value=df_league_start[season_iterator, league_iterator])
          # player_iterator[f'age_{season_iterator}'] = end_life_array - player_iterator['date_of_birth']
          df_ages.iloc[i, season_iterator] = end_life_array - player_iterator['date_of_birth']

df_ages

2015-08-21 00:00:00

TypeError: Addition/subtraction of integers and integer-arrays with Timestamp is no longer supported.  Instead of adding/subtracting `n`, use `n * obj.freq`

# KPI

In [184]:
import mysql.connector
import pandas as pd
from sqlalchemy import text

# Establish a connection to the MySQL database
my_db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  password="NewPassword",
  database="transfermarkt"
)

kpi_query = text("""select player_id, team_id, minutes_played, position_code, position_name, captain, num_of_goals, num_of_assists, num_of_owngoals, yellow_card_time, second_yellow_card_time, red_card_time, match_id, season_id, league_id, home_team_id, away_team_id, match_day, home_team_goals, away_team_goals, home_team_win, away_team_win, draw, total_shots_home_team, total_shots_away_team, shots_on_target_home_team, shots_on_target_away_team, corner_home_team, away_cornerse_team, free_kicks_away_team, fouls_home_team, fouls_away_team, offsides_home_team, offsides_away_team, scorred_id, assist_id, team_scorer_id
from player_appearances
         join matches m on m.match_id = player_appearances.match_id
         left outer join goals g on m.match_id = g.match_id

group by player_id, g.match_id;""")

df_kpi = pd.read_sql(kpi_query, my_db_connection)

df_kpi.to_csv('df_kpi.csv', index=False)

my_db_connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_7100\2498793993.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_kpi = pd.read_sql(kpi_query, my_db_connection)

TypeError: Query must be a string unless using sqlalchemy.

In [186]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="NewPassword",
    host="localhost",
)

engine = create_engine(url_object)
# Define the SQL query as a string
my_query = text("""select player_id,
       pa.match_id,
       team_id,
       home_team_id,
       away_team_id,
       position_code,
       home_shots_saved,
       away_shots_saved,
       home_team_score,
       away_team_score,
       #num_of_assists,
       #num_of_owngoals,
       home_team_win,
       away_team_win,
       draw,
       home_total_shots,
       away_total_shots,
       home_shots_off_target,
       away_shots_off_target,
       home_corners,
       away_corners,
       home_freekicks,
       away_freekicks,
       home_fouls,
       away_fouls,
       home_offsides,
       away_offsides
from player_appearances pa
         join matches m on m.match_id = pa.match_id;""")

with engine.connect() as conn:
    conn.execute(text('USE transfermarkt;'))
    result = conn.execute(my_query)
    df_kpi = pd.read_sql_query(my_query, conn)
    print(result)

<sqlalchemy.engine.cursor.CursorResult object at 0x000001D10CA83A10>

In [187]:
positions = df_kpi['position_code'].unique()
positions

array(['GK', 'CB', 'LB', 'RB', 'DM', 'LW', 'RW', 'HS', 'ST', 'CM', 'RM',
       'LM', 'OM', 'S'], dtype=object)

In [188]:
# Define a function to map position codes to abstract positions
def map_position_code(position_code):
    if position_code in ['CM', 'DM', 'LM', 'RM', 'OM']:
        return 'MF'
    elif position_code in ['ST', 'HS', 'RW', 'LW']:
        return 'F'
    elif position_code in ['LB', 'RB', 'CB', 'S']:
        return 'B'
    else:
        return 'GK'

# Apply the function to create a new column 'position_code_abstract'
df_kpi['position_code_abstract'] = df_kpi['position_code'].apply(map_position_code)
df_kpi

,player_id,match_id,team_id,home_team_id,away_team_id,position_code,home_shots_saved,away_shots_saved,home_team_score,away_team_score,...,away_shots_off_target,home_corners,away_corners,home_freekicks,away_freekicks,home_fouls,away_fouls,home_offsides,away_offsides,position_code_abstract
0,30690,2577860,985,985,148,GK,4.0,1.0,1,0,...,2.0,1.0,2.0,14.0,13.0,12.0,12.0,1.0,2.0,GK
1,103427,2577860,985,985,148,CB,4.0,1.0,1,0,...,2.0,1.0,2.0,14.0,13.0,12.0,12.0,1.0,2.0,B
2,12282,2577860,985,985,148,CB,4.0,1.0,1,0,...,2.0,1.0,2.0,14.0,13.0,12.0,12.0,1.0,2.0,B
3,183288,2577860,985,985,148,LB,4.0,1.0,1,0,...,2.0,1.0,2.0,14.0,13.0,12.0,12.0,1.0,2.0,B
4,54906,2577860,985,985,148,RB,4.0,1.0,1,0,...,2.0,1.0,2.0,14.0,13.0,12.0,12.0,1.0,2.0,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233374,103563,2702827,415,2969,415,CM,3.0,4.0,2,0,...,5.0,3.0,5.0,18.0,19.0,15.0,18.0,4.0,0.0,MF
233375,148754,2702827,415,2969,415,CM,3.0,4.0,2,0,...,5.0,3.0,5.0,18.0,19.0,15.0,18.0,4.0,0.0,MF
233376,95732,2702827,415,2969,415,LW,3.0,4.0,2,0,...,5.0,3.0,5.0,18.0,19.0,15.0,18.0,4.0,0.0,F
233377,344152,2702827,415,2969,415,RW,3.0,4.0,2,0,...,5.0,3.0,5.0,18.0,19.0,15.0,18.0,4.0,0.0,F
233378,36500,2702827,415,2969,415,ST,3.0,4.0,2,0,...,5.0,3.0,5.0,18.0,19.0,15.0,18.0,4.0,0.0,F

In [189]:
# Define a function to calculate kpi based on column_name value
def calculate_kpi(row):
    if row['team_id'] == row['home_team_id']:
        if row['position_code_abstract'] == 'MF':
            return row['num_of_assists'] + row['num_of_goals'] + 0.6*row['home_corners']/(row['away_cornersners']) - 0.6*row['away_team_goals'] + 0.8*row['home_team_goals'] + 0.8*row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.6*row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.4*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.4*row['total_shots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.8*row['offsides_home_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'F':
            return row['num_of_assists'] + row['num_of_goals'] + 0.9*row['home_corners']/(row['away_corners']) - 0.1*row['away_team_goals'] + row['home_team_goals'] + row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) + 0.4*row['total_shots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.6*row['offsides_home_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'B':
            return row['num_of_assists'] + row['num_of_goals'] - 0.8*row['away_cor_tesm']+row['home_corners']) - 0.8*row['away_team_goals'] + 0.1*row['home_team_goals'] - 0.9*row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.9*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.8*row['offsides_away_team']/(row['offsides_home_team']+row['offsides_away_team']) + row['shots_on_target_away_team']/row['total_shots_away_team'] - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'GK':
            return row['total_shots_away_team'] - row['away_team_goals'] - row['num_of_owngoals']
        else:
            return None
    elif row['team_id'] == row['away_team_id']:
        if row['position_code_abstract'] == 'MF':
            return row['num_assists'] + row['num_of_goals'] + 0.6*row['away_corners']/(row['home_corners']+row['away_corners']) - 0.6*row['home_team_goals'] + 0.8*row['away_team_goals'] + 0.8*row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.6*row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.4*row['total_shots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.4*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.8*row['offsides_away_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'F':
            return row['num_of_assists'] + row['num_of_goals'] + 0.9*row['away_cornersrow['home_corners']+row['away_corners- 0.1*row['home_team_goals'] + row['away_team_goals'] + row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) + 0.4*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.6*row['offsides_away_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'B':
            return row['num_of_assists'] + row['num_of_goals'] - 0.8*row['home_corners']/(row['home_cornersow['away_corners']) - 0.8*row['home_team_goals'] + 0.1*row['away_team_goals'] - 0.9*row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.9*row['totalots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.8*row['offsides_home_team']/(row['offsides_away_team']+row['offsides_home_team']) + row['shots_on_target_home_team']/row['total_shots_home_team'] - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'GK':
            return row['total_shots_home_team'] - row['home_team_goals'] - row['num_of_owngoals']
        else:
            return None

    else:
        return None

# Apply the function to create a new column 'kpi'
df_kpi['kpi'] = df_kpi.apply(calculate_kpi, axis=1)

KeyError: 'total_shots_away_team'

In [85]:
df_kpi

Empty DataFrame
Columns: [player_id, match_id, team_id, home_team_id, away_team_id, position_code, num_of_goals, num_of_assists, num_of_owngoals, home_team_goals, away_team_goals, home_team_win, away_team_win, draw, total_shots_home_team, total_shots_away_team, shots_on_target_home_team, shots_on_target_away_team, corner_home_team, corner_away_team, free_kicks_home_team, free_kicks_away_team, fouls_home_team, fouls_away_team, offsides_home_team, offsides_away_team, position_code_abstract, kpi]
Index: []

[0 rows x 28 columns]

In [97]:
df_kpi_final = df_kpi[['player_id', 'match_id', 'position_code', 'kpi']]
df_kpi_final.to_csv('df_kpi_final.csv', index=False)

In [114]:
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:NewPassword@localhost/transfermarkt')
df_kpi_final['kpi'].to_sql('player_appearances', con=engine, if_exists='append', index=False)
engine.dispose()

0

In [ ]:
import mysql.connector
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Establish a connection to the MySQL database
my_db_connection = mysql.connector.connect(
  host="localhost",
  user="yourusername",
  password="yourpassword",
  database="yourdatabase"
)


# Load data from two tables in the database into pandas DataFrames
properties_query = text("""select *
from (select player_id, avg(KPI) as KPI_per_player_per_season
      from player_appearances
               join matches
               join season
      group by player_id, season) t0
         right outer join contracts on t0.player_id = contracts.player_id;""")

target_df = pd.read_sql_query("SELECT * FROM Market_value join season", my_db_connection)
properties_df = pd.read_sql_query(properties_query, my_db_connection)

# Close the database connection
my_db_connection.close()

# Join the two DataFrames together based on a common key
df = pd.merge(target_df, properties_df, on='player_id')

# Split data into training and testing sets
['assists', , 'goals', 'fee']
X_train, X_test, y_train, y_test = train_test_split(df.drop('target_column', axis=1), df['target_column'], test_size=0.1, random_state=42)
X_train, X_val, y_train, y_val = train_test_split(df.drop('target_column', axis=1), df['target_column'], test_size=0.1, random_state=42)

X_train, X_test, y_train, y_test = train_test_split(df.drop('target_column', axis=1), df['target_column'], test_size=0.2, random_state=42)

# Choose an appropriate ML algorithm and train on the data
model = LinearRegression()
model.fit(X_train, y_train)

# Evaluate the model's performance on the testing data
score = model.score(X_test, y_test)

# Use the model to make predictions on new data
new_data = pd.read_csv('new_data.csv')
predictions = model.predict(new_data)

In [ ]:
# url_object = URL.create(
#     "mysql+mysqlconnector",
#     username="root",
#     password="NewPassword",
#     host="localhost",
# )

# engine = create_engine(url_object)

# # Define the SQL query as a string
# main_ml1_query = text("""select *
# from (select player_id,
#              m.season_id,
#              count(starter),
#              sum(minutes_played),
#              sum(injured),
#              sum(captain),
#              sum(num_of_goals),
#              sum(num_of_assists),
#              sum(num_of_owngoals),
#              count(yellow_card_time)
#       from player_appearances
#                join matches m on m.match_id = player_appearances.match_id
#                join seasons s on m.season_id = s.season_id
#       group by player_id, m.season_id) t0
#          join
#      (SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_per_season
#       FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
#             FROM player_appearances
#                      join matches m on m.match_id = player_appearances.match_id
#             GROUP BY player_id, position_code, season_id) AS position_code_count
#       GROUP BY player_id, season_id) t1 on (t0.season_id = t1.season_id and t0.player_id = t1.player_id)
#          join market_values mv on (t1.player_id = mv.player_id and t1.season_id = mv.season_id)
#          left join contracts c on t1.player_id = c.player_id and t1.season_id = c.season_id;""")

# with engine.connect() as conn:
#     conn.execute(text('USE transfermarkt;'))
#     result = conn.execute(main_ml1_query)
#     df_ml1 = pd.read_sql_query(main_ml1_query, conn)
# # df_ages.to_sql(name='...', con=engine, if_exists='replace', index=False)

# import pandas as pd
# import mysql.connector
# from sqlalchemy import text

# # Connect to MySQL database
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="Mba4957@ms3#13",
#   database="transfermarkt"
# )

# final_df = pd.DataFrame()

# # Queries

# query_player = text("""select player_id,
#        m.season_id,
#        count(starter),
#        sum(minutes_played),
#        sum(injured),
#        sum(captain),
#        sum(num_of_goals),
#        sum(num_of_assists),
#        sum(num_of_owngoals),
#        count(yellow_card_time)
# from player_appearances
#          join matches m on m.match_id = player_appearances.match_id
#          join seasons s on m.season_id = s.season_id
# group by player_id, m.season_id;""")

# query_position = text("""
# SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_per_season
# FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
#       FROM player_appearances
#               join matches m on m.match_id = player_appearances.match_id
#       GROUP BY player_id, position_code, season_id) AS position_code_count
# GROUP BY player_id, season_id;
# """)

# df_player_properties = pd.read_sql(query_player, con=mydb)
# df_player_properties['most_frequent_position_per_season'] = pd.read_sql(query_position, con=mydb)
# df_player_properties['market_value_per_season'] = pd.read_sql(query_position, con=mydb)
# df_market_value = pd.read_sql("SELECT * FROM Market_value", con=mydb)
# # for i in range(7):
# #     stmt = stmt.bindparams(x="m", y="z")
#     # query_player = text("""
#     # SELECT *
#     # FROM matches
#     #         left outer join player_appearances
#     #         left outer join cards
#     #         left outer join goals
#     #         left outer join substitutions
#     #         where season_id = :season_idd;
#     # """)
#     # query_player = query_player.bindparams(season_idd = i)
#     # df_pl_ap = pd.read_sql(query_player, con=mydb)
#     df_mv = pd.read_sql("SELECT * FROM Market_value", con=mydb)
#     df_pl_ap.to_csv("df_pl_ap.csv", index=False)
#     season_df = df_pl_ap.groupby(['player_id', 'season_id'])['cards', 'goals', 'assists'].sum()
#     # df_pl_goals_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['goals'].sum()
#     # df_pl_assists_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['assists'].sum()
#     query_position = text("""
#     SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_code_per_season
#     FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
#           FROM player_appearances
#                   join matches m on m.match_id = player_appearances.match_id
#           GROUP BY player_id, position_code, season_id) AS position_code_count
#     GROUP BY player_id, season_id;
#     """)
#     season_df['position_per_season'] = pd.read_sql(query_position, con=mydb)
#     df_pl_apps_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['goals'].sum() #??
#     # df['age_at_season_start'] = df.apply(lambda row: (row['season_start_date'] - row['birth_date']).days // 365, axis=1)
#     df_pl_age_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['goals'].sum() #??


    
#     final_df = pd.merge(final_df, season_df, on='key')

#     df_mv = pd.read_sql("SELECT * FROM Market_value where season_id = :season_idd", con=mydb)
#     # df_pl_ap = pd.read_sql("SELECT * FROM player_appearance", con=mydb)

#     # pl_ap_name = ("df_pl_ap%s.csv", %)
#     season_df.to_csv(f'season_df_{i}.csv', index=False)
#     # df.to_csv("df_mv.csv", index=False)


# # Print the DataFrame
# print(df)

# Model Training and pure ML things

In [153]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="NewPassword",
    host="localhost",
)

engine = create_engine(url_object)

# Define the SQL query as a string
main_ml1_query = text("""select t0.player_id,
       t0.season_id,
       count_captain,
       count_injured,
       count_starter,
       count_yellow_card_time,
       sum_assists,
       sum_goals,
       sum_minutes_played,
       sum_owngoals,
       most_frequent_position_per_season,
       mv.market_value,
       fee_of_transfer
from (select player_id,
             m.season_id,
             count(starter)          count_starter,
             sum(minutes_played)     sum_minutes_played,
             count(injured)          count_injured,
             count(captain)          count_captain,
             sum(num_of_goals)       sum_goals,
             sum(num_of_assists)     sum_assists,
             sum(num_of_owngoals)    sum_owngoals,
             count(yellow_card_time) count_yellow_card_time
      from player_appearances
               join matches m on m.match_id = player_appearances.match_id
               join seasons s on m.season_id = s.season_id
      group by player_id, m.season_id) t0
         join
     (SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_per_season
      FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
            FROM player_appearances
                     join matches m on m.match_id = player_appearances.match_id
            GROUP BY player_id, position_code, season_id) AS position_code_count
      GROUP BY player_id, season_id) t1 on (t0.season_id = t1.season_id and t0.player_id = t1.player_id)
         join market_values mv on (t1.player_id = mv.player_id and t1.season_id = mv.season_id)
         left join contracts c on t1.player_id = c.player_id and t1.season_id = c.season_id;
""")

with engine.connect() as conn:
    conn.execute(text('USE transfermarkt;'))
    result = conn.execute(main_ml1_query)
    df_ml1 = pd.read_sql_query(main_ml1_query, conn)
df_ml1

Empty DataFrame
Columns: [player_id, season_id, count_captain, count_injured, count_starter, count_yellow_card_time, sum_assists, sum_goals, sum_minutes_played, sum_owngoals, most_frequent_position_per_season, market_value, fee_of_transfer]
Index: []

In [2]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="NewPassword",
    host="localhost",
)

engine = create_engine(url_object)

main_ml1_query = text("""select distinct p2.player_id, foot, height
from players p2
         join goals g on p2.player_id = g.scorrer_id
         left join goals g2 on g2.assist_id = p2.player_id
         join market_values mv on p2.player_id = mv.player_id
         left join contracts c on p2.player_id = c.player_id
         left join cards c2 on c.player_id = c2.player_id;""")

with engine.connect() as conn:
    conn.execute(text('USE transfermarkt;'))
    result = conn.execute(main_ml1_query)
    df_ml1 = pd.read_sql_query(main_ml1_query, conn)
df_ml1

In [155]:
from flaml import AutoML
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score


# split the dataset into training and testing sets
train_df = df.sample(frac=0.8, random_state=42)
test_df = df.drop(train_df.index)

# define the target variable and the features
target_col = 'Market_value'
feature_cols = [col for col in df_ml1.columns if col != target_col]

# create an AutoML instance and fit the model
automl_model = AutoML()
automl_model.fit(train_df[feature_cols], train_df[target_col], time_budget=50, val_split=0.2)

# make predictions on the testing set
y_pred = automl_model.predict(test_df[feature_cols])

# evaluate the model performance
score = automl_model.score(test_df[feature_cols], test_df[target_col])

# calculate the mean squared error
mse = mean_squared_error(test_df[target_col], y_pred)

# calculate the root mean squared error
rmse = mean_squared_error(test_df[target_col], y_pred, squared=False)

# calculate the mean absolute error
mae = mean_absolute_error(test_df[target_col], y_pred)

# calculate the R-squared score
r2 = r2_score(test_df[target_col], y_pred)

print(f"Mean squared error: {mse}")
print(f"Root mean squared error: {rmse}")
print(f"Mean absolute error: {mae}")
print(f"R-squared score: {r2}")
print(f"R-squared score: {score}")

KeyError: "['season_id', 'count_captain', 'count_injured', 'count_starter', 'count_yellow_card_time', 'sum_assists', 'sum_goals', 'sum_minutes_played', 'sum_owngoals', 'most_frequent_position_per_season', 'market_value', 'fee_of_transfer'] not in index"

# Some other thing