# Liberaries

In [5]:
from sqlalchemy import create_engine
from sqlalchemy import URL
from sqlalchemy import text

from urllib.parse import quote_plus
import numpy as np

from datetime import datetime
import pymysql
import pandas as pd
import matplotlib.pyplot as plt

# KPI

In [6]:
# KPI
import mysql.connector
import pandas as pd
from sqlalchemy import text

# Establish a connection to the MySQL database
my_db_connection = mysql.connector.connect(
  host="localhost",
  user="root",
  password="NewPassword",
  database="transfermarkt"
)

kpi_query = text("""select player_id, team_id, minutes_played, position_code, position_name, captain, num_of_goals, num_of_assists, num_of_owngoals, yellow_card_time, second_yellow_card_time, red_card_time, match_id, season_id, league_id, home_team_id, away_team_id, match_day, home_team_goals, away_team_goals, home_team_win, away_team_win, draw, total_shots_home_team, total_shots_away_team, shots_on_target_home_team, shots_on_target_away_team, corner_home_team, corner_away_team, free_kicks_home_team, free_kicks_away_team, fouls_home_team, fouls_away_team, offsides_home_team, offsides_away_team, scorred_id, assist_id, team_scorer_id
from player_appearances
         join matches m on m.match_id = player_appearances.match_id
         left outer join goals g on m.match_id = g.match_id

group by player_id, g.match_id;""")

df_kpi = pd.read_sql(kpi_query, my_db_connection)

df_kpi.to_csv('df_kpi.csv', index=False)

my_db_connection.close()

C:\Users\Asus\AppData\Local\Temp\ipykernel_18280\1829632724.py:21: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_kpi = pd.read_sql(kpi_query, my_db_connection)

TypeError: Query must be a string unless using sqlalchemy.

In [7]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="NewPassword",
    host="localhost",
)

engine = create_engine(url_object)
# Define the SQL query as a string
my_query = text("""select player_id,
       pa.match_id,
       team_id,
       home_team_id,
       away_team_id,
       position_code,
       num_of_goals,
       num_of_assists,
       num_of_owngoals,
       home_team_goals,
       away_team_goals,
       home_team_win,
       away_team_win,
       draw,
       total_shots_home_team,
       total_shots_away_team,
       shots_on_target_home_team,
       shots_on_target_away_team,
       corner_home_team,
       corner_away_team,
       free_kicks_home_team,
       free_kicks_away_team,
       fouls_home_team,
       fouls_away_team,
       offsides_home_team,
       offsides_away_team
from player_appearances pa
         join matches m on m.match_id = pa.match_id;""")

with engine.connect() as conn:
    conn.execute(text('USE transfermarkt;'))
    result = conn.execute(my_query)
    df_kpi = pd.read_sql_query(my_query, conn)
    print(result)
positions = df_kpi['position_code'].unique()
positions

<sqlalchemy.engine.cursor.CursorResult object at 0x00000297CE62FA10>

array([], dtype=object)

In [8]:
# Define a function to map position codes to abstract positions
def map_position_code(position_code):
    if position_code in ['CMF', 'DMF', 'LMF', 'RMF', 'AMF']:
        return 'MF'
    elif position_code in ['SS', 'CF', 'RWF', 'LWF']:
        return 'F'
    elif position_code in ['LB', 'RB', 'CB']:
        return 'B'
    else:
        return 'GK'

# Apply the function to create a new column 'position_code_abstract'
df_kpi['position_code_abstract'] = df_kpi['position_code'].apply(map_position_code)
df_kpi

Empty DataFrame
Columns: [player_id, match_id, team_id, home_team_id, away_team_id, position_code, num_of_goals, num_of_assists, num_of_owngoals, home_team_goals, away_team_goals, home_team_win, away_team_win, draw, total_shots_home_team, total_shots_away_team, shots_on_target_home_team, shots_on_target_away_team, corner_home_team, corner_away_team, free_kicks_home_team, free_kicks_away_team, fouls_home_team, fouls_away_team, offsides_home_team, offsides_away_team, position_code_abstract]
Index: []

[0 rows x 27 columns]

In [9]:
# Define a function to calculate kpi based on column_name value
def calculate_kpi(row):
    if row['team_id'] == row['home_team_id']:
        if row['position_code_abstract'] == 'MF':
            return row['num_of_assists'] + row['num_of_goals'] + 0.6*row['corner_home_team']/(row['corner_away_team']+row['corner_home_team']) - 0.6*row['away_team_goals'] + 0.8*row['home_team_goals'] + 0.8*row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.6*row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.4*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.4*row['total_shots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.8*row['offsides_home_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'F':
            return row['num_of_assists'] + row['num_of_goals'] + 0.9*row['corner_home_team']/(row['corner_away_team']+row['corner_home_team']) - 0.1*row['away_team_goals'] + row['home_team_goals'] + row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) + 0.4*row['total_shots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.6*row['offsides_home_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'B':
            return row['num_of_assists'] + row['num_of_goals'] - 0.8*row['corner_away_team']/(row['corner_away_team']+row['corner_home_team']) - 0.8*row['away_team_goals'] + 0.1*row['home_team_goals'] - 0.9*row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.9*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.8*row['offsides_away_team']/(row['offsides_home_team']+row['offsides_away_team']) + row['shots_on_target_away_team']/row['total_shots_away_team'] - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'GK':
            return row['total_shots_away_team'] - row['away_team_goals'] - row['num_of_owngoals']
        else:
            return None
    elif row['team_id'] == row['away_team_id']:
        if row['position_code_abstract'] == 'MF':
            return row['num_assists'] + row['num_of_goals'] + 0.6*row['corner_away_team']/(row['corner_home_team']+row['corner_away_team']) - 0.6*row['home_team_goals'] + 0.8*row['away_team_goals'] + 0.8*row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.6*row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.4*row['total_shots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.4*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.8*row['offsides_away_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'F':
            return row['num_of_assists'] + row['num_of_goals'] + 0.9*row['corner_away_team']/(row['corner_home_team']+row['corner_away_team']) - 0.1*row['home_team_goals'] + row['away_team_goals'] + row['free_kicks_away_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) + 0.4*row['total_shots_away_team']/(row['total_shots_home_team']+row['total_shots_away_team']) - 0.6*row['offsides_away_team']/(row['offsides_home_team']+row['offsides_away_team']) - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'B':
            return row['num_of_assists'] + row['num_of_goals'] - 0.8*row['corner_home_team']/(row['corner_home_team']+row['corner_away_team']) - 0.8*row['home_team_goals'] + 0.1*row['away_team_goals'] - 0.9*row['free_kicks_home_team']/(row['free_kicks_home_team']+row['free_kicks_away_team']) - 0.9*row['totalots_home_team']/(row['total_shots_home_team']+row['total_shots_away_team']) + 0.8*row['offsides_home_team']/(row['offsides_away_team']+row['offsides_home_team']) + row['shots_on_target_home_team']/row['total_shots_home_team'] - row['num_of_owngoals']
        elif row['position_code_abstract'] == 'GK':
            return row['total_shots_home_team'] - row['home_team_goals'] - row['num_of_owngoals']
        else:
            return None

    else:
        return None

In [10]:
# Apply the function to create a new column 'kpi'
df_kpi['kpi'] = df_kpi.apply(calculate_kpi, axis=1)

df_kpi

Empty DataFrame
Columns: [player_id, match_id, team_id, home_team_id, away_team_id, position_code, num_of_goals, num_of_assists, num_of_owngoals, home_team_goals, away_team_goals, home_team_win, away_team_win, draw, total_shots_home_team, total_shots_away_team, shots_on_target_home_team, shots_on_target_away_team, corner_home_team, corner_away_team, free_kicks_home_team, free_kicks_away_team, fouls_home_team, fouls_away_team, offsides_home_team, offsides_away_team, position_code_abstract, kpi]
Index: []

[0 rows x 28 columns]

In [17]:
df_kpi_final = df_kpi[['player_id', 'match_id', 'position_code', 'kpi']]
df_kpi_final.to_csv('df_kpi_final.csv', index=False)
from sqlalchemy import create_engine
engine = create_engine('mysql+mysqlconnector://root:NewPassword@localhost/transfermarkt')
df_kpi_final['kpi'].to_sql('player_appearances', con=engine, if_exists='append', index=False)
engine.dispose()

In [ ]:
# url_object = URL.create(
#     "mysql+mysqlconnector",
#     username="root",
#     password="NewPassword",
#     host="localhost",
# )

# engine = create_engine(url_object)

# # Define the SQL query as a string
# main_ml1_query = text("""select *
# from (select player_id,
#              m.season_id,
#              count(starter),
#              sum(minutes_played),
#              sum(injured),
#              sum(captain),
#              sum(num_of_goals),
#              sum(num_of_assists),
#              sum(num_of_owngoals),
#              count(yellow_card_time)
#       from player_appearances
#                join matches m on m.match_id = player_appearances.match_id
#                join seasons s on m.season_id = s.season_id
#       group by player_id, m.season_id) t0
#          join
#      (SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_per_season
#       FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
#             FROM player_appearances
#                      join matches m on m.match_id = player_appearances.match_id
#             GROUP BY player_id, position_code, season_id) AS position_code_count
#       GROUP BY player_id, season_id) t1 on (t0.season_id = t1.season_id and t0.player_id = t1.player_id)
#          join market_values mv on (t1.player_id = mv.player_id and t1.season_id = mv.season_id)
#          left join contracts c on t1.player_id = c.player_id and t1.season_id = c.season_id;""")

# with engine.connect() as conn:
#     conn.execute(text('USE transfermarkt;'))
#     result = conn.execute(main_ml1_query)
#     df_ml1 = pd.read_sql_query(main_ml1_query, conn)
# # df_ages.to_sql(name='...', con=engine, if_exists='replace', index=False)

# import pandas as pd
# import mysql.connector
# from sqlalchemy import text

# # Connect to MySQL database
# mydb = mysql.connector.connect(
#   host="localhost",
#   user="root",
#   password="Mba4957@ms3#13",
#   database="transfermarkt"
# )

# final_df = pd.DataFrame()

# # Queries

# query_player = text("""select player_id,
#        m.season_id,
#        count(starter),
#        sum(minutes_played),
#        sum(injured),
#        sum(captain),
#        sum(num_of_goals),
#        sum(num_of_assists),
#        sum(num_of_owngoals),
#        count(yellow_card_time)
# from player_appearances
#          join matches m on m.match_id = player_appearances.match_id
#          join seasons s on m.season_id = s.season_id
# group by player_id, m.season_id;""")

# query_position = text("""
# SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_per_season
# FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
#       FROM player_appearances
#               join matches m on m.match_id = player_appearances.match_id
#       GROUP BY player_id, position_code, season_id) AS position_code_count
# GROUP BY player_id, season_id;
# """)

# df_player_properties = pd.read_sql(query_player, con=mydb)
# df_player_properties['most_frequent_position_per_season'] = pd.read_sql(query_position, con=mydb)
# df_player_properties['market_value_per_season'] = pd.read_sql(query_position, con=mydb)
# df_market_value = pd.read_sql("SELECT * FROM Market_value", con=mydb)
# # for i in range(7):
# #     stmt = stmt.bindparams(x="m", y="z")
#     # query_player = text("""
#     # SELECT *
#     # FROM matches
#     #         left outer join player_appearances
#     #         left outer join cards
#     #         left outer join goals
#     #         left outer join substitutions
#     #         where season_id = :season_idd;
#     # """)
#     # query_player = query_player.bindparams(season_idd = i)
#     # df_pl_ap = pd.read_sql(query_player, con=mydb)
#     df_mv = pd.read_sql("SELECT * FROM Market_value", con=mydb)
#     df_pl_ap.to_csv("df_pl_ap.csv", index=False)
#     season_df = df_pl_ap.groupby(['player_id', 'season_id'])['cards', 'goals', 'assists'].sum()
#     # df_pl_goals_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['goals'].sum()
#     # df_pl_assists_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['assists'].sum()
#     query_position = text("""
#     SELECT player_id, season_id, MAX(position_code_count.position_code) AS most_frequent_position_code_per_season
#     FROM (SELECT player_id, position_code, season_id, COUNT(*) AS count
#           FROM player_appearances
#                   join matches m on m.match_id = player_appearances.match_id
#           GROUP BY player_id, position_code, season_id) AS position_code_count
#     GROUP BY player_id, season_id;
#     """)
#     season_df['position_per_season'] = pd.read_sql(query_position, con=mydb)
#     df_pl_apps_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['goals'].sum() #??
#     # df['age_at_season_start'] = df.apply(lambda row: (row['season_start_date'] - row['birth_date']).days // 365, axis=1)
#     df_pl_age_per_season = df_pl_ap.groupby(['player_id', 'season_id'])['goals'].sum() #??


    
#     final_df = pd.merge(final_df, season_df, on='key')

#     df_mv = pd.read_sql("SELECT * FROM Market_value where season_id = :season_idd", con=mydb)
#     # df_pl_ap = pd.read_sql("SELECT * FROM player_appearance", con=mydb)

#     # pl_ap_name = ("df_pl_ap%s.csv", %)
#     season_df.to_csv(f'season_df_{i}.csv', index=False)
#     # df.to_csv("df_mv.csv", index=False)


# # Print the DataFrame
# print(df)

# Players' Request

In [16]:
url_object = URL.create(
    "mysql+mysqlconnector",
    username="root",
    password="NewPassword",
    host="localhost",
)

engine = create_engine(url_object)
query_player = text("""select *
from (select team_id, position_code_abstract, avg(KPI) as KPI_per_position_per_team
      from player_appearances
      group by team_id, position_code_abstract) as t1
where position_code_abstract = 'B'
  AND KPI_per_position_per_team > (SELECT KPI_per_position_per_team
                                   FROM (select team_id, position_code_abstract, avg(KPI) as KPI_per_position_per_team
      from player_appearances
      group by team_id, position_code_abstract))
                                   WHERE team_id = t1.team_id
                                     AND position_code_abstract = 'F');""")

with engine.connect() as conn:
    conn.execute(text('USE transfermarkt;'))
    result = conn.execute(query_player)
    df__player_req = pd.read_sql_query(query_player, conn)
    # print(result)
df__player_req

ProgrammingError: (mysql.connector.errors.ProgrammingError) 1248 (42000): Every derived table must have its own alias
[SQL: select *
from (select team_id, position_code_abstract, avg(KPI) as KPI_per_position_per_team
      from player_appearances
      group by team_id, position_code_abstract) as t1
where position_code_abstract = 'B'
  AND KPI_per_position_per_team > (SELECT KPI_per_position_per_team
                                   FROM (select team_id, position_code_abstract, avg(KPI) as KPI_per_position_per_team
      from player_appearances
      group by team_id, position_code_abstract)
                                   WHERE team_id = t1.team_id
                                     AND position_code_abstract = 'F');]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [ ]:
# Retrieve the market_value column from table1
with conn.cursor() as cursor:
    cursor.execute(query_player)
    table__player_data = cursor.fetchall()

# Close the database connection
conn.close()

# Convert the query results to dataframes
df = pd.DataFrame(table__player_data, columns=['team_id', 'position_code_abstract', 'KPI_per_position_per_team'])

# Export the dataframes to CSV files: this line can be ingnored and it's just for a better documntation.
df.to_csv('phase3_table_players.csv', index=False)

# Coach's Requests

## Req#1

In [ ]:
# Connect to the database
conn = pymysql.connect(host='localhost', user='root', password='Mba4957@ms3#13', db='transfermarkt')

query = text("""
select *
select Player_ID, Player_Name, KPI_per_player, Market_value
from (select player_id, KPI_per_player
      from (select player_id, avg(KPI) as KPI_per_player
            group by player_id) t1
      order by KPI_per_player desc
      limit round
      (0.3*(count(*) from t1))) t2
         join
     (select player_id, Market_value
      from (select player_id, Market_value
            from (select player_id, Market_value
                  from Market_value MV
                           join season s
                  where season.season == "21/22") t3
            order by Market_value asc
            limit round
            (0.4*(count(*) from t3)))) on t2.player_id = t3.player_id) join (SELECT player_id, MAX(position_code_count.position_code) AS most_frequent_position_code
FROM (
  SELECT player_id, position_code, COUNT(*) AS count
  FROM player_appearances
  GROUP BY player_id, position_code
) AS position_code_count
GROUP BY player_id;
) join Player;
""" )

# Retrieve the market_value column from table1
with conn.cursor() as cursor:
    cursor.execute(query)
    table_data = cursor.fetchall()

# Close the database connection
conn.close()

# Convert the query results to dataframes
df = pd.DataFrame(table_data, columns=['Player_ID', 'Player_Name', 'KPI_per_player', 'Market_value'])

# Export the dataframes to CSV files: this line can be ingnored and it's just for a better documntation.
df.to_csv('table_part1.csv', index=False)

## Req#2

In [ ]:
conn = pymysql.connect(host='localhost', user='root', password='Mba4957@ms3#13', db='transfermarkt')

# Retrieve the market_value column from table2
with conn.cursor() as cursor:
    cursor.execute('select Market_value from Market_value inner join season.season where season.season = "21/22";')
    table2_data = cursor.fetchall()

# Close the database connection
conn.close()

# Convert the query results to dataframes
# df1 = pd.DataFrame(table1_data, columns=['market_value'])
df2 = pd.DataFrame(table2_data, columns=['market_value'])

# Export the dataframes to CSV files: this line can be ingnored and it's just for a better documntation.
# df1.to_csv('table1.csv', index=False)
df2.to_csv('table2.csv', index=False)

# Load the CSV files into Pandas dataframes
df1 = pd.read_csv('table_part1.csv')
df2 = pd.read_csv('table2.csv')

# Create the histograms
plt.hist(df1['market_value'], bins=20, alpha=0.5)
plt.hist(df2['market_value'], bins=20, alpha=0.5)

# Add labels and legend
plt.xlabel('Market Value')
plt.ylabel('Frequency')
plt.title('Distribution of Market Value: A Comaprison View')
plt.legend(['Good Players with Low Price', 'All Players'])

# Show the plot
plt.show()

## Req#3